.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: grey;
    border-radius: 8px;
    box-shadow: 0 0 10px purple (0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: purple;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #fff;
  }
  
  #result {
    margin-top: 20px;
    font-size: 1.1em;
  }
  